{%extends 'base.htm'%} {%block content%}
<div class="sign-up">
    <h2 class="heading-2">Sign In</h2>
    <form method = "POST" class="form">
      {{form.hidden_tag()}}
        <div class="input-wrapper">
          {{form.email(class="form__input form__input--big")}}
            <label for="email" class="form__label">email</label>
            {%if form.email.errors%}
            {%for error in form.email.errors%}

            <small class="text-red-500 text-xs ">{{error}}</small>
            {%endfor%} {%endif%}
            <div class="underline"></div>
         </div>
         <small class="small-text">we'll never share your email with anyone else</small>
        <div class="input-wrapper">
            {{form.password(class="form__input form__input--big")}}
            <label for="password" class="form__label">Password</label>
            {%if form.password.errors%}
            {%for error in form.password.errors%}
            <small class="text-red-500 text-xs ">{{error}}</small>
            {%endfor%} {%endif%}
            <div class="underline"></div>
        </div>
        <div class="btn-primary">
          {{form.submit()}}
            <div class="btn-primary__arrow"><div>&rarr;</div></div>
        </div>
        <br>
        <a href="sign up.htm" class="btn-account">Don't have an account?</a>
    </form>
</div>
<script src="../js/account.js"></script>
{%endblock%}
